// Specific CSS for your home-page
#home{
&.chick-pal-content {
  margin-top: 8%;
  width: 90%;
  margin-bottom: 5%;
}

  .container.chick-pal-content {
  max-width: 1375px;
  background-color: #FFFFFF;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;

    .card {
      width: 280px;
      border-radius: 12px;
      // border: 1px solid black;
      border: #FFFFFF;
      margin-bottom: 35px;
      line-height: 20px;
    }


    .card-img {
      width: 280px;
      height: 280px;
      border-radius: 12px;
      object-fit: none;
      background-size: cover;
      background-position: center;

    }

    .card-body {
      font-family: 'Circular Std', sans-serif;
      padding: 1rem 0;
    }

    .top-text {
      display: flex;
      justify-content: space-between;
    }

    .mid-text {
      color: gray;
      display: flex;
      justify-content: space-between;
      margin-top: -10px;
    }
    .bottom-text {
      display: flex;
      justify-content: left;
      margin-top: 5px;
      margin-bottom: -15px;
      text-decoration: underline;
    }
    .card-img {
      width: 280px;
      height: 280px;
      border-radius: 12px;
      object-fit: none;
      background-size: cover;
      background-position: center;

    }
  }
}
