.container {
  font-family: 'Circular Std', sans-serif;
}
.top-info {
  margin-top: 100px;
}
.card-img {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}

.group-img-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;


}

.group-img-2 {
  display: flex;

}
.big-img {
  width: 640px;
  height: 420px;
  border-radius: 12px 0px 0px 12px;
  object-fit: none;
  background-size: cover;
  background-position: left;
  background-image: url("https://images.unsplash.com/photo-1612170153139-6f881ff067e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}

.img-block-1 {
  margin-right: 10px;
  width: 307px;
  height: 205px;
  // border-radius: 12px;
  object-fit: none;
  background-size: cover;
  background-position: left;
  background-image: url("https://images.unsplash.com/photo-1612170153139-6f881ff067e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}
.img-block-2 {
  width: 307px;
  height: 205px;
  border-radius: 0px 12px 12px 0px;
  object-fit: none;
  background-size: cover;
  background-position: left;
  background-image: url("https://images.unsplash.com/photo-1612170153139-6f881ff067e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}
.card-content {
  display: flex;
  justify-content: space-between;
}

.last-btn {
  margin-bottom: 200px;
}

.breed {
  margin-top: -10px;
  color: gray;
}
