#show {

.container {
  font-family: 'Circular Std', sans-serif;
  width: 80% !important;
}
.top-info {
  margin-top: 100px;

}
.card-img {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}

.group-img-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.group-img-2 {
  display: flex;

}
.big-img {
  width: 600px;
  height: 420px;
  border-radius: 12px 0px 0px 12px;
  object-fit: none;
  background-size: cover;
  background-position: left;
}

.img-block-1 {
  margin-right: 10px;
  width: 270px;
  height: 205px;
  object-fit: none;
  background-size: cover;
  background-position: left;
}
.img-block-2 {
  width: 270px;
  height: 205px;
  border-radius: 0px 12px 12px 0px;
  object-fit: none;
  background-size: cover;
  background-position: left;
  background-image: url("https://images.unsplash.com/photo-1612170153139-6f881ff067e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}
.card-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}

.last-btn {
  margin-bottom: 200px;
}

.address {
  margin-top: -5px;
  color: gray;
}

.info {
  width: 75%;
}

.booking {
  width: 50%;
  margin-bottom: 100px;
}

.card-book {
  font-family: 'Circular Std', sans-serif;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  border-radius: 12px;
}
.checkout{
  display: flex;
  justify-content: space-between;
}
.button {
  width: 100%;
  background-color: #fbc209;
  color: white;
  transition: box-shadow 0.2s ease;
  height: 42px;
  border-radius: 12px;
  font-family: 'Circular Std', sans-serif;
  border: none;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top: 20px;
}
.checkout-price {
  // text-decoration: underline #535E6B;
  color: #222222;
}
.description {
  color: #222222;
}
}
