#show {
  margin-top: 150px;
  margin-bottom: 150px;

.container {
  font-family: 'Circular Std', sans-serif;
  width: 80% !important;
  margin-bottom: 5% !important;
}
.top-info {
  margin-top: 100px;

}
.card-img {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
width: 100%;
}

.image-wrapper{
  width: 49%;
}

.group-img-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.group-img-2 {
  display: flex;

}
.big-img {
  width: 50%;
  height: 420px;
  border-radius: 12px 0px 0px 12px;
  object-fit: none;
  background-size: cover;
  background-position: left;
}

.img-block-1 {
  margin-right: 10px;
  width: 50%;
  height: 205px;
  object-fit: none;
  background-size: cover;
  background-position: left;
}
.img-block-2 {
  width: 50%;
  height: 205px;
  border-radius: 0px 12px 12px 0px;
  object-fit: none;
  background-size: cover;
  background-position: left;
  background-image: url("https://images.unsplash.com/photo-1612170153139-6f881ff067e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}
.card-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}

.last-btn {
  margin-bottom: 200px;
}

.address {
  margin-top: -5px;
  color: gray;
}

.info {
  width: 75%;
}

.booking {
  width: 50%;
  margin-bottom: 100px;
}

.card-book {
  font-family: 'Circular Std', sans-serif;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5rem;
  border-radius: 12px;
}
.checkout{
  display: flex;
  justify-content: space-between;
}
.button {
  width: 100%;
  background-color: #fbc209;
  color: white;
  transition: box-shadow 0.2s ease;
  height: 42px;
  border-radius: 12px;
  font-family: 'Circular Std', sans-serif;
  border: none;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding-top: 20px;
}
.checkout-price {
  // text-decoration: underline #535E6B;
  color: #222222;
}
.description {
  color: #222222;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 87%;
  position: relative;
  margin-top: 32px;
  border-radius: 12px;
  border: #FFFFFF;

  .status{
    position:absolute;
    right: 10px;
    top: 80px;
  }
}
  .name{
    position: absolute;
    top: 4px;
    left: 135px;
    font-size: 24px;
    font-weight: bold;
  }
  .dates{
    position: absolute;
    bottom: 9px;
    .days{
      background-color: rgb(183, 181, 181);
      padding: 1px 8px;
      padding-bottom: 2px;
      border-radius: 8px;
    }
  }
  .booker{
    position: absolute;
    top: 39px;
  }

  .location{
    position: absolute;
    top: 60px;
  }
  .price{
    position: absolute;
    top: 11px;
    right: 11px;
    font-size: 16px;
    font-weight: bold;
  }
  .status{
    .fa-circle-check{
      color: green;
      position: absolute;
      bottom: 10px;
      right: 60px;
      font-size: 35px;
    }
    .fa-circle-xmark{
      color: red;
      position: absolute;
      bottom: 10px;
      right: 14px;
      font-size: 35px
    }
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.booking-container {
  display: grid;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr;

}

.accordion-button:focus{
  border: #ffffff !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
