 <div class="card">
  <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1612170153139-6f881ff067e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80')" alt="Card image">
  </div>
  <div class="card-body">
    <p class="card-title"><strong>Chicken 1</strong></p>
    <div class="top-text">
      <p class="card-breed"><strong>Cream Legbar</strong></p>
      <p class="card-age"> <%= chicken.age %> years old</p>
    </div>

    <div class="mid-text">
      <p class="card-genger">Male</p>
      <p class="noise level">xxx</p>
    </div>
  </div>
</div>
