<h4><strong>Name: </strong><%= chicken.name %></h4>
<p><strong>Gender: </strong><%= chicken.gender %></p>
<p><strong>Price: </strong><%= chicken.price %></p>
<button><%= link_to "View Chicen", chicken_path(chicken) %></button>
