<div class="container-full main">
  <div id="chickens" class="container-full justify-content-between">
    <div class="chicken-row row cards">
      <% @chickens.each do |chicken| %>
        <%= render "chickens/chickenv2", chicken: chicken %>
      <% end %>
    </div>
    <div class="map">
      <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>

</div>
