    <footer>
			<div class="footer-container">
				<div class="footer-list">
					<ul>
          <li><a href="https://meetwear.me/" target="_blank" style="text-decoration: none; color: black;">&copy; MeetWear Team</a></li>
					</ul>
				</div>
		</footer>
