    <header class="header">
      <div class="header__logo">
          <%= image_tag "ChickPals.svg", id: "logo" %>
      </div>
        <div class="header__search">
          <button><strong>Selected breed</strong></button>
          <span></span>
          <button><strong>29 May - 2 June</strong></button>
          <span></span>
          <button>
            <strong> Female </strong>
            <div class="header__searchIcon">
              <%= image_tag("searchIcon.svg") %>
            </div>
          </button>
        </div>
      <div class="header__nav">
        <a href="" class="header__nav__button header__nav__button-greyHover"><strong>Rent your chicken</strong></a>
        <button class="header__nav__button header__nav__button-account">
        <strong>Log in</strong>
          <%# <%= image_tag("icons8-menu.svg") %>
          <%# <%= image_tag("account.svg") %>
        </button>
      </div>
    </header>
