<div class="container chick-pal-content">
  <div class="cards">
    <% @chickens.each do |chicken| %>
      <%= render "chickens/chicken", chicken: chicken %>
    <% end %>
  </div>

<%= link_to "View your bookings", mybookings_path%>

<%= link_to "Log in", new_user_session_path%>
</div>
