.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  border-radius: 4px;
  position: relative;
}


.mapboxgl-ctrl-geocoder input[type=text] {
  font-family: 'Circular Std', sans-serif;
  font-size: 15px;
  width: 100%;
  border: 0;
  background-color: transparent;
  height: 40px;
  margin: 0;
  color: black;
  padding: 10px 10px 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}

.mapboxgl-ctrl-geocoder--icon-loading {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}

.mapboxgl-ctrl-geocoder button {
  display: none;
}
