.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
}
.card-img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.top-text {
  display: flex;
  justify-content: space-between;
}

.mid-text {
  display: flex;
  justify-content: space-between;
}
