#index-booking {

.container {
  margin: 100px;
}

.chicken-row {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  width: 40%;
  border-radius: 12px;
}

.card-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin-left: -14px;
  border-radius: 12px 0px 0px 12px;
}

.card-body {
  height: 120px;
  color: rgb(49, 47, 47);

}

.fa-circle-exclamation {
  color: orange;
}
.fa-spinner {
  color: orange;
}
.fa-circle-xmark{
  color: red;
}
.fa-circle-check {
  color: green;
  margin-bottom: 200px;
}
.legend {
  margin-top: 30px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  p {
color: grey;
  }
}
.dates {
margin-bottom: 30px;
}
}
