#namename{
  font-family: 'Circular Std', sans-serif;
  margin-top: 8%;
  margin-left: 150px;
}
#index-booking {
  margin-bottom: 2%;
  .container {
    margin-top: 100px;
    background-color: antiquewhite;
  }

  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    width: 45%;
    position: relative;
    margin-top: 32px;
    border-radius: 12px;
    border: #FFFFFF;
    font-family: 'Circular Std', sans-serif;
    color: #717171;

    .status{
      position: absolute;
      right: 11px;
      bottom: 8px;
    }

    .Sname{
      position: absolute;
      top: 7px;
      left: 135px;
      font-size: 20px;
      font-weight: bold;
      color: black;
    }
    .dates{
      position: absolute;
      bottom: 9px;
      .days{
        background-color: #FBC209;
        color: white;
        padding: 1px 8px;
        padding-bottom: 2px;
        border-radius: 8px;
      }
    }
    .booker{
      position: absolute;
      top: 39px;
    }
    .location{
      position: absolute;
      top: 50px;
    }
    .Sprice{
      position: absolute;
      top: 11px;
      right: 11px;
      font-size: 16px;
      font-weight: bold;
      color: black;
    }

      .fa-circle-check{
        color: green;
        position: absolute;
        bottom: 10px;
        right: 60px;
        font-size: 35px;
      }
      .fa-circle-xmark{
        color: red;
        position: absolute;
        bottom: 10px;
        right: 14px;
        font-size: 35px
      }
  }


  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }

  .booking-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  .fa-circle-exclamation {
    color: orange;
  }

  .fa-spinner {
    color: orange;
  }

  .fa-circle-xmark{
    color: red;
  }

  .fa-circle-check {
    color: green;
    margin-bottom: 200px;
  }

  .legend {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    p {
        color: grey;
        padding: 0 20px;
      }
    }



}
