:root {
	--grey-med: #ddd;
	--grey-light: #f7f7f7;
	--grey-text-light: #717171;
	--grey-text-dark: #222;
	--orange: #fbc209;

#logo{
display: block;
fill: none;
height: 75px;
overflow: visible;
}

.header {
  font-family: 'Circular Std', sans-serif;
  font-size: 14px;
	height: 80px;
	padding: 0 50px;
	display: flex;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 2;
	background: white;
  z-index: 100;

	&__logo,
	&__nav {
		flex: 1 0 140px;
	}
	&__search {
		display: inline-flex;
		border-radius: 24px;
		overflow: hidden;
		align-items: center;
		border: 1px solid var(--grey-med);
		transition: box-shadow 0.2s ease;
		&:hover {
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.309);
		}
		button {
			background: transparent;
			height: 48px;
			padding: 0 16px;
			display: flex;
			align-items: center;
			border: none;
			font-family: 'Circular Std', sans-serif;
			cursor: pointer;
			&:first-of-type {
				padding-left: 24px;
			}
			&:last-of-type {
				padding-right: 7px;
			}
		}
		span {
			width: 1px;
			height: 24px;
			background: var(--grey-med);
		}
	}
	&__searchIcon {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: var(--orange);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 16px;
		img {
			width: 12px;
			height: 12px;
		}
	}
	&__nav {
		display: flex;
		justify-content: flex-end;
		&__button{
			background: transparent;
			border: none;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 16px;
			border-radius: 22px;
			cursor: pointer;
			text-decoration: none;
			color: rgb(34, 34, 34);
			height: 48px;
			&-greyHover {
				&:hover {
					background: var(--grey-light);
				}
			}
      &-butty {
        height: 42px;
        border-radius: 22px;
        padding: 5px 20px 5px 20px;
        margin-right: 2px;
        transition: box-shadow 0.2s ease;
        color: black;
        font-family: 'Circular Std', sans-serif;
        transition: box-shadow 0.2s ease;
        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
          background-color: var(--grey-light);
        }
      }
			&-account {
        height: 42px;
        border-radius: 22px;
        border: #adadad solid 1px;
        padding: 5px 0px 5px 12px;
        transition: box-shadow 0.2s ease;
        // background-color: var(--orange);
        color: white;
        font-family: 'Circular Std', sans-serif;
				transition: box-shadow 0.2s ease;
				&:hover {
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
				}
				img {
					&:first-child {
						height: 16px;
						width: 16px;
					}
					&:last-child {
						width: 30px;
						height: 30px;
						margin-left: 12px;
					}
				}
			}

				}
			}
		}

}

.new_view {
  margin-top: 100px;
  margin-bottom: 60px;
}

.new {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.309);
  border-radius: 40px;
}

.first-button-wrapper {
  display: flex;
  justify-content: space-between;

  .first-button {
    width: 49% !important;
    padding: 10px;
    border-radius: 10px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
	background: var(--grey-light);
	border-top: 1px solid var(--grey-med);
  margin-top: auto;


	.footer-container {
		display: flex;
    justify-content: center;
    align-items: center;
	}
  .footer-list{
    padding-top: 14px;
  }
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
      color: var(--grey-text-light);
      display: inline;
			font-family: 'Circular Std', sans-serif;
      margin-top: 30px;
		}
  }
}
