 <div class="card">

      <img class="card-img" src="https://images.unsplash.com/photo-1548550023-2bdb3c5beed7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2877&q=80" alt="Card image">
      <div class="card-body">
        <h4 class="card-title"><strong>Chicken 1</strong></h4>

        <div class="top-text">
          <p class="card-breed"><strong>Cream Legbar</strong></p>
          <p class="card-age">5 years old</p>
        </div>

        <div class="mid-text">
          <p class="card-genger">Male</p>
          <p class="noise level">xxx</p>
        </div>
        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
